/* Dropdown.css */
.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 15px;
  background: #f9f9f9;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-wrapper {
  background-color: #ffffff;
  min-height: 10vh; /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 7% 7% 7% 7%;
  border: 0.1px solid black; /* Border around the button */
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center; /* Align icon and text */
}

.icon {
  margin-right: 8px; 
}

.displayword {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 3px;
  background-color: #f7f8fa;
  min-width: 350px;
  border-radius: 7% 7% 7% 7%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdownhandle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}
.inside{
  margin-top: 2px;
  margin-bottom: 1px;
 
 
}
.inside-class{
  display: flex;

}


.inside .inside-class h1{
  margin-right: 24px;
  font-size: 14px;
}
/* Removed the hover styles that were causing the issue */
